<ion-content>
  <ion-card *ngIf="bikerInfo$ | async as data" color="light" padding>
    <ion-card-header>
      <ion-item lines="none" color="light"></ion-item>
      <ion-avatar class="avatar center">
        <img [src]="data.profileImage != null ? data.profileImage : 'assets/imgs/couponred.png'">
      </ion-avatar>
      <ion-item lines="none" color="light" class="ion-margin-top">
        <ion-label class="ion-text-center">
          <h1><b>ชื่อ {{ data.name != null ? data.name : null}}</b></h1>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label class="ion-text-center">
          <h1><b>ชื่อบริษัท {{ data.deliveryName != null ? data.deliveryName : null}}</b></h1>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label class="ion-text-center">
          <h1>ID {{ data._id != null ? data._id : null}}</h1>
        </ion-label>
      </ion-item>
      <ion-label class="ion-text-center">
        <h1>Rating ยังไม่ได้ binding</h1>
      </ion-label>
      <ion-item lines="none" color="light"></ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>