<ion-header>
  <ion-toolbar>
    <ion-title>โปรไฟล์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" padding>
    <ion-card-header>
      <ion-item lines="none" color="light"></ion-item>
      <ion-avatar class="avatar" style="width: 100px; height: 100px;">
        <img src="https://cf.shopee.co.th/file/c0f005d6a465eb0813d6062467c9cd12_tn">
      </ion-avatar>
      <ion-item lines="none" color="light" class="ion-margin-top">
        <ion-label class="ion-text-center">
          <h1><b>ชื่อ อานนท์ บางสาน</b></h1>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label class="ion-text-center">
          <h1>ID 563220</h1>
        </ion-label>
      </ion-item>
      <ion-label class="ion-text-center">
        <h1>Rating 4.7</h1>
      </ion-label>
      <ion-item lines="none" color="light"></ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>