<ion-content class="ion-text-center">
  <ion-card color="light">
    <ion-card-header>
      <ion-item lines="none" color="light"></ion-item>
      <ion-avatar class="avatar center">
        <img src="https://cf.shopee.co.th/file/c0f005d6a465eb0813d6062467c9cd12_tn">
      </ion-avatar>
      <ion-item lines="none" color="light" class="ion-margin-top">
        <ion-label class="ion-text-center">
          <h1><b>เอิร์นไง</b></h1>
        </ion-label>
      </ion-item>
      <ion-button shape="round" color="success" class="ion-margin-top" >
        <ion-label color="light" class="ion-margin">
          <h2>โทร.</h2>
        </ion-label>
      </ion-button>
      <ion-item lines="none" color="light"></ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>