<ion-header>
  <ion-toolbar>
    <ion-title>historyMain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card color="warning" class="ion-no-margin ion-margin-horizontal ion-margin-top">
    <ion-item color="warning">
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/image-vector/cartoon-cute-squid-bowtie-vector-260nw-740611582.jpg" />
      </ion-avatar>
      <ion-label>
        <ion-note slot="start">
          <ion-text color="light">
            <p>จำนวนที่ส่งวันนี้</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </ion-text>
        </ion-note>
      </ion-label>
      <ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-text color="light">
            <p>2 ครั้ง</p>
            <p>&nbsp;</p>
            <p>ดูวันอื่นๆ</p>
          </ion-text>
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="light" class="ion-no-margin ion-margin-horizontal ion-margin-top">
    <ion-card-header class="ion-no-padding ion-padding-horizontal ion-margin-top">
      <ion-label>
        <h1><b>คำสั่งซื้อ 5454</b></h1>
        <ion-text color="secondary">
          <h3>5/12/2562 (11.00)</h3>
        </ion-text>
      </ion-label>
    </ion-card-header>
    <ion-item lines="none" color="light">
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/image-vector/cartoon-cute-squid-bowtie-vector-260nw-740611582.jpg" />
      </ion-avatar>
      <ion-label>
        <h3><b>เอิร์นไง</b></h3>
        <ion-text color="secondary">
          <p class="ion-text-wrap">147/2 พิมานคอนโดพาร์ค, ตำบลศิลา, อำเภอเมืองขอนแก่น, ขอนแก่น, 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="light" class="ion-no-margin ion-margin-horizontal ion-margin-top">
    <ion-card-header class="ion-no-padding ion-padding-horizontal  ion-margin-top">
      <ion-label>
        <h1><b>คำสั่งซื้อ 5454</b></h1>
        <ion-text color="secondary">
          <h3>5/12/2562 (10.00)</h3>
        </ion-text>
      </ion-label>
    </ion-card-header>
    <ion-item lines="none" color="light">
      <ion-avatar slot="start">
        <img src="https://image.shutterstock.com/image-vector/cartoon-cute-squid-bowtie-vector-260nw-740611582.jpg" />
      </ion-avatar>
      <ion-label>
        <h3><b>จุ๊ๆไง</b></h3>
        <ion-text color="secondary">
          <p class="ion-text-wrap">147/2 พิมานคอนโดพาร์ค, ตำบลศิลา, อำเภอเมืองขอนแก่น, ขอนแก่น, 40000</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>