<ion-content mode="ios">
  <ng-container *ngIf="orderHistory$ | async as item">
    <ion-card color="warning" class="ion-no-margin ion-margin-horizontal ion-margin-top">
      <ion-item color="warning">
        <ion-item slot="start" color="warning" lines="none" class="ion-no-margin ion-no-padding">
          <img src="assets/imgs/bikewhite.png" />
        </ion-item>
        <ion-label>
          <ion-note slot="start">
            <ion-text color="light">
              <p>จำนวนที่ส่งวันนี้</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </ion-text>
          </ion-note>
        </ion-label>
        <ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text color="light">
              <p>{{ item.length? item.length : 0 | number }} ครั้ง</p>
              <p>&nbsp;</p>
              <p>ดูวันอื่นๆ</p>
            </ion-text>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngFor="let data of item" color="light" (click)="detailHistory(data._id)"
      class="ion-margin-top ion-padding-vertical">
      <ion-item color="light" lines="none">
        <ion-label slot="start">
          <h1><b>คำสั่งซื้อ {{data.orderCode}} </b></h1>
          <p> {{data.acceptRequestDate | date:'M/d/yyy (H:mm)'}} </p>
        </ion-label>
        <ion-note slot="end">
          <ion-text *ngIf="data.cancelRequestId" color="danger">ยกเลิกคำสั่งซื้อ !</ion-text>
          &nbsp;
        </ion-note>
      </ion-item>

      <ion-item lines="none" color="light">
        <ion-avatar slot="start">
          <img src="assets/imgs/ordercustomer.png" />
        </ion-avatar>
        <ion-label>
          <h3><b>{{data.customer?.name}}</b></h3>
          <ion-text color="secondary">
            <p class="ion-text-wrap">{{data.customer?.address}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card color="light" class="ion-text-center" *ngIf="item.length < 1 ">
      <br><br><br><br><br>
      <ion-text class="ion-text-center" color="secondary">
        <h5><b>ไม่มีรายการ</b></h5>
      </ion-text>
      <br><br><br><br><br>
    </ion-card>
  </ng-container>
</ion-content>