<ion-content mode="ios" class="ion-text-center">
  <ng-container *ngIf="orderInfo$ | async as data">
    <ion-list *ngIf="page == 'received'">
      <ion-button class="ion-margin-top" disabled shape="round" color="warning" type="submit">
        <ion-text color="light">{{ time | date:'mm:ss' }} นาที</ion-text>
      </ion-button>

      <div id="stepProgressBar">
        <div class="step">
          <div class="bullet1 start">.</div>
        </div>
        <div class="step">
          <div class="bullet11 start">.</div>
        </div>
        <div class="step">
          <div class="bullet1">.</div>
        </div>
      </div>

      <ion-item color="medium" lines="none">
        <ion-label color="secondary" class="ion-text-left">
          <h2>รับออเดอร์</h2>
          <h3> {{ data.acceptRequestDate  | date:'H:mm' }} </h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-center">
          <h2>กำลังจัดส่ง</h2>
          <h3>&nbsp;</h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-right">
          <h2>ถึงแล้ว</h2>
          <h3>&nbsp;</h3>
        </ion-label>
      </ion-item>

      <ion-card color="light" class="ion-margin-top ion-padding-vertical">
        <ion-item color="light" lines="none">
          <ion-label color="dark" slot="start">
            <h1><b>คำสั่งซื้อ {{ data._id }} </b></h1>
          </ion-label>

          <ion-note *ngIf="data.cancelRequestId == null" slot="end">
            <ion-button shape="round" color="tertiary" type="submit" (click)="requestCancel()">
              <ion-text color="dark">ยกเลิก</ion-text>
            </ion-button>
          </ion-note>

          <ion-note *ngIf="data.cancelRequestId != null" slot="end">
            <ion-label>
              <ion-text color="danger">
                <h3><b>รอการอนุมัติยกเลิก !</b></h3>
              </ion-text>
            </ion-label>
          </ion-note>

        </ion-item>
        <ion-list>
          <ion-item color="light" lines="none">
            <ion-avatar slot="start">
              <img src="assets/imgs/ordershop.png">
            </ion-avatar>
            <ion-label>
              <h3><b> {{ data.restaurant?.name}} </b></h3>
              <ion-text color="secondary">
                <p class="ion-text-wrap"> {{ data.restaurant?.address}} </p>
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-note slot="end">
              <ion-text color="dark">
                <ion-label>
                  <p (click)="OpenMap(data.restaurant?.coordinates)">
                    <ion-icon color="warning" name="location-outline"></ion-icon> ร้าน
                  </p>
                </ion-label>
              </ion-text>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-list>

    <ion-list *ngIf="page == 'shipping'">
      <ion-button class="ion-margin-top" disabled shape="round" color="warning" type="submit">
        <ion-text color="light">{{ time | date:'mm:ss' }} นาที</ion-text>
      </ion-button>

      <div id="stepProgressBar">
        <div class="step">
          <div class="bullet2 completed">.</div>
        </div>
        <div class="step">
          <div class="bullet22 completed">.</div>
        </div>
        <div class="step">
          <div class="bullet22">.</div>
        </div>
      </div>

      <ion-item color="medium" lines="none">
        <ion-label color="secondary" class="ion-text-left">
          <h2>รับออเดอร์</h2>
          <h3>{{ data.acceptRequestDate | date:'H:mm' }}</h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-center">
          <h2>กำลังจัดส่ง</h2>
          <h3>{{ data.shippingDate | date:'H:mm' }}</h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-right">
          <h2>ถึงแล้ว</h2>
          <h3>&nbsp;</h3>
        </ion-label>
      </ion-item>

      <ion-card color="light" class="ion-margin-top ion-padding-vertical">
        <ion-item color="light" lines="none">
          <ion-label color="dark" slot="start">
            <h1><b>คำสั่งซื้อ {{ data._id }} </b></h1>
          </ion-label>

          <ion-note *ngIf="data.cancelRequestId == null" slot="end">
            <ion-button shape="round" color="tertiary" type="submit" (click)="requestCancel()">
              <ion-text color="dark">ยกเลิก</ion-text>
            </ion-button>
          </ion-note>

          <ion-note *ngIf="data.cancelRequestId != null" slot="end">
            <ion-label>
              <ion-text color="danger">
                <h3><b>รอการอนุมัติยกเลิก !</b></h3>
              </ion-text>
            </ion-label>
          </ion-note>

        </ion-item>
        <ion-list>
          <ion-item color="light" lines="none">
            <ion-avatar slot="start">
              <img src="assets/imgs/ordercustomer.png" />
            </ion-avatar>
            <ion-label>
              <h3><b>{{ data.customer?.name}}</b></h3>
              <ion-text color="secondary">
                <p class="ion-text-wrap"> {{ data.customer?.address}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-note slot="start">
              <ion-text color="dark">
                <ion-label>
                  <p (click)="OpenMap(data.restaurant?.coordinates)">
                    <ion-icon color="warning" name="location-outline"></ion-icon> ร้าน
                  </p>
                </ion-label>
              </ion-text>
            </ion-note>
            <ion-note slot="end">
              <ion-text color="success">
                <ion-label>
                  <p (click)="OpenMap(data.customer?.coordinates)">
                    <ion-icon color="success" name="location-outline"></ion-icon> ผู้รับ
                  </p>
                </ion-label>
              </ion-text>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-list>

    <ion-list *ngIf="page == 'arrived'">
      <ion-button class="ion-margin-top" disabled shape="round" color="warning" type="submit">
        <ion-text color="light">{{ time | date:'mm:ss' }} นาที</ion-text>
      </ion-button>

      <div id="stepProgressBar">
        <div class="step">
          <div class="bullet3 completed">.</div>
        </div>
        <div class="step">
          <div class="bullet3 completed">.</div>
        </div>
        <div class="step">
          <div class="bullet3">.</div>
        </div>
      </div>

      <ion-item color="medium" lines="none">
        <ion-label color="secondary" class="ion-text-left">
          <h2>รับออเดอร์</h2>
          <h3>{{ data.acceptRequestDate | date:'H:mm' }}</h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-center">
          <h2>กำลังจัดส่ง</h2>
          <h3>{{ data.shippingDate | date:'H:mm' }}</h3>
        </ion-label>
        <ion-label color="secondary" class="ion-text-end">
          <h2>ถึงแล้ว</h2>
          <h3>{{ data.destinationDate | date:'H:mm' }}</h3>
        </ion-label>
      </ion-item>

      <ion-card color="light" class="ion-margin-top ion-padding-vertical">
        <ion-item color="light" lines="none">
          <ion-label color="dark" slot="start">
            <h1><b>คำสั่งซื้อ {{ data._id }} </b></h1>
          </ion-label>

          <ion-note *ngIf="data.cancelRequestId == null" slot="end">
            <ion-button shape="round" color="tertiary" type="submit" (click)="requestCancel()">
              <ion-text color="dark">ยกเลิก</ion-text>
            </ion-button>
          </ion-note>

          <ion-note *ngIf="data.cancelRequestId != null" slot="end">
            <ion-label>
              <ion-text color="danger">
                <h3><b>รอการอนุมัติยกเลิก !</b></h3>
              </ion-text>
            </ion-label>
          </ion-note>

        </ion-item>
        <ion-list>
          <ion-item color="light" lines="none">
            <ion-avatar slot="start">
              <img src="assets/imgs/ordercustomer.png" />
            </ion-avatar>
            <ion-label>
              <h3><b>{{ data.customer?.name}}</b></h3>
              <ion-text color="secondary">
                <p class="ion-text-wrap">{{ data.customer?.address}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-note slot="start">
              <ion-text color="dark">
                <ion-label>
                  <p (click)="OpenMap(data.restaurant?.coordinates)">
                    <ion-icon color="warning" name="location-outline"></ion-icon> ร้าน
                  </p>
                </ion-label>
              </ion-text>
            </ion-note>
            <ion-note slot="end">
              <ion-text color="success">
                <ion-label>
                  <p (click)="OpenMap(data.customer?.coordinates)">
                    <ion-icon color="success" name="location-outline"></ion-icon> ผู้รับ
                  </p>
                </ion-label>
              </ion-text>
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-list>

    <ion-item lines="none">
      <ion-label color="dark">
        <h1><b>ช่องทางการติดต่อ</b></h1>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" shape="round" color="light" type="submit" (click)="customerContact()">
          <ion-label>
            <h2><img src="assets/imgs/iconcustomer.png" height="14" alt="">&nbsp;ลูกค้า </h2>
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" shape="round" color="light" type="submit">
          <ion-label>
            <h2><img src="assets/imgs/iconshop.png" height="14">&nbsp;ร้านค้า</h2>
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" shape="round" color="light" type="submit">
          <ion-label>
            <h2><img src="assets/imgs/iconadmin.png" height="14">&nbsp;ศูนย์</h2>
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card color="light" class="ion-margin-top ion-padding-vertical">
      <ion-list>
        <ion-item color="light" lines="none">
          <ion-avatar slot="start">
            <img [src]="data.restaurant?.logoImage != null ? data.restaurant?.logoImage  : 'assets/imgs/dfres@3x.png'">
          </ion-avatar>
          <ion-label>
            <h3><b>{{ data.restaurant?.name }}</b></h3>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let data of data.productList" color="light">
          <ion-label color="dark">
            <p>x{{ data.quantity }} {{ data.name }}</p>
            <ion-text color="danger">
              <p *ngIf="data.option">{{ data.option }}</p>
              <p *ngIf="!data.option">&nbsp;</p>
            </ion-text>
          </ion-label>
          <ion-label>
            <ion-note slot="end" class="ion-text-end">
              <ion-text color="dark">
                <p>฿{{ data.quantity * data.price | number }}</p>
                <p>ยกเลิก</p>
              </ion-text>
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>


<ion-footer mode="ios">
  <ion-button *ngIf="(page == 'received') && (isCancel == false)" class="ion-no-margin" expand="full" color="warning"
    (click)="changePage('received')"><b>เตรียมจัดส่ง</b></ion-button>
  <ion-button *ngIf="(page == 'received') && (isCancel == true)" class="ion-no-margin" expand="full" color="tertiary"
    disabled><b>เตรียมจัดส่ง</b></ion-button>
  <ion-button *ngIf="(page == 'shipping') && (isCancel == false)" class="ion-no-margin" expand="full" color="warning"
    (click)="changePage('shipping')"><b>ถึงจุดส่งของแล้ว</b></ion-button>
  <ion-button *ngIf="(page == 'shipping') && (isCancel == true)" class="ion-no-margin" expand="full" color="tertiary"
    disabled><b>ถึงจุดส่งของแล้ว</b></ion-button>
  <ion-button *ngIf="(page == 'arrived') && (isCancel == false)" class="ion-no-margin" expand="full" color="warning"
    (click)="changePage('arrived')"><b>ลูกค้าได้รับอาหารแล้ว</b></ion-button>
  <ion-button *ngIf="(page == 'arrived') && (isCancel == true)" class="ion-no-margin" expand="full" color="tertiary"
    disabled><b>ลูกค้าได้รับอาหารแล้ว</b></ion-button>
</ion-footer>