<ion-content mode="ios">
  <ion-item lines="none" color="light">
    <ion-label><b>เปิดรับงาน</b></ion-label>
    <ion-toggle slot="end" name="blackberry" [(ngModel)]="IsBikerOn" (click)="toggleChange()">
    </ion-toggle>
  </ion-item>

  <ng-container *ngIf="order$ | async as data">
    <ion-card *ngIf="data._id && IsBikerOn" color="light" class="ion-no-margin ion-margin-horizontal ion-margin-top">
      <ion-card-header>
        <ion-label>
          <h1><b>คำสั่งซื้อ {{ data.orderCode }}</b></h1>
          <ion-text color="warning">
            <h3>฿{{ data.totalPrice | number }} ({{ data.totalQuantity | number }} รายการ)</h3>
          </ion-text>
          <ion-text color="secondary">
            <p>-</p>
          </ion-text>
        </ion-label>
      </ion-card-header>
      <ion-list>
        <ion-item color="light">
          <ion-avatar slot="start">
            <img src="assets/imgs/ordershop.png" />
          </ion-avatar>
          <ion-label>
            <h3><b>{{ data.restaurant?.name }}</b></h3>
            <ion-text color="secondary">
              <p class="ion-text-wrap">{{ data.restaurant?.address }}</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item lines="none" color="light">
          <ion-avatar slot="start">
            <img src="assets/imgs/ordercustomer.png" />
          </ion-avatar>
          <ion-label>
            <h3><b>{{ data.customer?.name }}</b></h3>
            <ion-text color="secondary">
              <p class="ion-text-wrap">{{ data.customer?.address }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!orderId && IsBikerOn" >
    <ion-card color="light" class="ion-text-center">
      <ion-text class="ion-text-center" color="dark">
        <br><br><br><br><br>
          <h5><b>ยังไม่มีออเดอร์เข้า</b></h5>
          <br><br><br><br><br>
      </ion-text>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!IsBikerOn">
    <div id="biker-logo">
      <img src="assets/imgs/bikegray.png" alt="">
    </div>
  </ng-container>
</ion-content>

ื<ng-container *ngIf="IsBikerOn && orderId">
  <ion-footer mode="ios">
    <ion-toolbar color="medium">
      <ion-title class="ion-no-padding" color="secondary">กรุณากดรับออเดอร์ภายใน {{ orderTimeOut }} วินาที</ion-title>
    </ion-toolbar>
    <ion-button class="ion-no-margin" expand="full" color="warning" [disabled]="!orderId" (click)="receiveOrder()">
      <b>รับออเดอร์</b>
    </ion-button>
  </ion-footer>
</ng-container>